* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1A839F;
    color: #A8DADC

}

.container {
    background-color: #063E56;
    padding: 3rem;
    border-radius: 20px;
    min-height: 45vh;
    width: 40vh;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form {
    margin: 2rem 0 1rem 0;
  }

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height:2rem;
    padding: 10px;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    font-size: 20px;
    text-align: center;
    gap: 3px;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
    /* margin-left: 5px; */
  }

 .select-conatiner img {
    max-width: 3rem;
    border-radius: 20px;
    /* background-color: white; */
 }

 .select-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 1rem;
    background-color: white;
    font-size: 50px;
    border: 1px solid lightgray;
  }

  button {
     
      margin-top: 30px;
      height: 3rem;
      background-color: #af4d98;
      color: #fff;
      font-size: 1.15rem;
      cursor: pointer;
  }

  .msg {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
  }

  .ammount {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    gap: 3px;
  }

  h1 {
    text-align: center;
    color: #A8DADC;
  }

  